body {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (max-width: 1154px) {
    .titol {
        color: white;
    }
}

.titol {
    display: block;
    margin-bottom: 6%;
}

header {
    background-color: #2f2fde;
    display: flex;
    border-top: 2px solid;
}

nav {
    width: 65%;
}

button {
    background-color: #D6FADF; 
    color: black; 
    border: 2px solid #cbf1d4;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
.llicencies {
    color: black;
}

.llicencies:hover {
    color: rgb(107, 107, 107);
}

button:hover {
    background-color: #c0dcc7;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
  }

form {
    width: 35%;
    display:flex;
    justify-content: center;
    align-items: center;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(220, 220, 220);
    text-decoration: none;
}

ul {
    width: 65%;
    justify-content: space-between;
    display: inline-flex;
}

li {
    list-style: none;
}

.titol h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 1%;
}

h1, h2 {
    color: #431ea4;
}

article {
    display: flex;
}

main {
    background-color: #ededed;
    padding: 0.5%;
}

.img {
    width: 40%;

}

.text {
    width: 60%;
    margin: 1%;
}

img {
    width: 65%;
    border-radius: 7px;
    border: 8px double lightgrey;
}